.wrap__certificate {
  background-image: url("../public/images/original/Banner 1-18.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;

  // Slick
  .slick-next {
    right: -7px !important;

    &::before {
      font-family: "icon-out" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      cursor: pointer;
      content: "\eaef" !important;
      font-size: 50px !important;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.234);
      background-color: $color-text-grey;
      opacity: 1;
      font-size: 28px !important;
      transition: all 200ms;
    }
  }

  .slick-prev {
    z-index: 100;
    left: -10px !important;

    &::before {
      cursor: pointer;
      font-family: "icon-out" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      content: "\eaf0" !important;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.234);
      background-color: $color-text-grey;
      opacity: 1;
      font-size: 28px !important;
      transition: all 200ms;
    }
  }
  .wrap-image__certificate {
    padding: 3px;
    border-radius: 3px;
    transition: all 300ms;
    &.active-certificate {
      border: 3px solid #132f52;
    }
  } 


  .slider-item__title {
    color: #142f53;
    font-size: 23px;
    font-weight: bold;
  }

  .right-group__image {
    margin-left: 100px;
  }

  .certificate__content {
    width: 100%;
    height: 100%;

    .wrap__logo-banner {
      position: relative;
      top: -100px;
    }

    .logo-banner__box {
      min-height: 60px;
      max-width: 500px;
      border-radius: 10px;
      background-color: $color-blue;    
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2px 2rem;

      .brand__title {
          margin-left: 1rem;
          font-weight: 600;
          font-size: 20px;
          color: #fff;
      }

      .logo-image {
        width: 20% !important;
      }
    }
  }

  .first-row-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    .img-top {
      position: relative;
      max-width: 100%;
    }
    .banner-top {
      height: 60px;
      max-width: 500px;
      border-radius: 10px;
      background-color: $color-blue;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      position: absolute;
      bottom: 5rem;
    }
    .banner-content {
      margin-left: 1rem;
      font-weight: 600;
      font-size: 18px;
      color: white;
    }
  }

  .second-row {
    padding: 0 20%;
    .slider-item-left {
      max-width: 100%;
      align-items: center;
      flex-direction: column;
      display: flex !important;
      justify-content: center;
      padding: 0 5rem;
      .slider-item-left-image {
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .wrap__certificate {
    .slider-item-left-content {
      width: 340px !important;
    }

    .wrap__logo-banner {
      top: -0px !important;
      margin-bottom: 20px !important;

      .logo-banner__box {
        min-height: 0px !important;
        max-width: 75% !important;
        padding: 2px 2rem;

        .logo-image {
          width: 18% !important;
        }
      }

      .brand__title {
        font-size: 14px !important;
    }

    }

    .certificate__content {
      .slick-next {
        z-index: 300;
        top: 30% !important;
      }

      .slick-next {right: -25px !important;}
      .slick-prev {left: 20px !important;}

      
      .slick-prev {
        z-index: 300;
        top: 30% !important;
      }
    }
  }

    .second-row {
      padding: 0 10px !important;
     
    }
  
    .right-group__image {
      margin-left: 0px !important;
      padding-bottom: 20px !important;
    }
  }


