.wrap__contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-image: url(../public/images/contact/background.png);
    padding: 120px 0px 240px 0px;
    .logo-banner__box {
        position: relative;
        height: 60px;
        top: -30px;
        // max-width: 500px;
        width: max-content;
        border-radius: 10px;
        background-color: $color-blue;    
        display: flex;
        align-items: center;
        padding: 0 2rem;

        .brand__title {
            margin-left: 1rem;
            font-weight: 600;
            font-size: 18px;
            color: $color-yellow;
        }
    }

    .box-content__contact {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #a8b4c3ff;
        backdrop-filter: blur(8px);
        border-radius: 20px;
        min-height: 50vh;
        padding: 0px 50px 100px 50px;
    }
}

.wrap__map-image {
    display: flex;
    align-items: center;
}

.image-more__info {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 400px;
}

.image-map__box {
    border: 4px solid #132f52;
    width: 100%;
    margin-left: 20px;
    border-radius: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.underline__title {
    font-size: 20px;
    font-weight: 700;
    color: #132f52;

    &::after {
        position: relative;
        content: "";
        height: 3px;
        width: 30px;
        background-color: #132f52;
        display: block;
        bottom: 0px;
      }
}

.text__description {
    color: #132f52;
}


.mail-contact {
    position: relative;
    left: 10px;    
    top: -50px;
}


@media only screen and (max-width: 800px) {
    .wrap__contact {
        padding: 50px 0px 0px 0px !important;

        .logo-banner__box {
            padding: 0 1.5rem !important;
            height: 50px !important;

            .brand__title {
                color: #fff !important;
                font-size: 16px !important;
            }
        }

        .box-content__contact {
            width: 90% !important;
            min-height: 0vh !important;
            padding: 0px 10px !important;
        }

        .mail-contact {
            left: 0 !important;    
            text-align: center !important;
            margin-bottom: 5px;
            top: 0 !important;
        }
    }

    .contact-icon--next {
        position: absolute !important;
        left: -20px !important;
    }
    
    .image-map__box {
        margin-left: 0px !important;
    }

    .image-more__info {
        position: relative !important;
        right: 0px !important;
        width: 350px;
    }
  }

  