.wrap__product {
  //slick
  .slick-next {
    right: -7px !important;

    &::before {
      font-family: "icon-out" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      cursor: pointer;
      content: "\eaef" !important;
      font-size: 50px !important;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.234);
      background-color: $color-text-grey;
      opacity: 1;
      font-size: 28px !important;
      transition: all 200ms;
    }
  }

  .slick-prev {
    z-index: 100;
    left: -10px !important;

    &::before {
      cursor: pointer;
      font-family: "icon-out" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      content: "\eaf0" !important;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.234);
      background-color: $color-text-grey;
      opacity: 1;
      font-size: 28px !important;
      transition: all 200ms;
    }
  }

  .product-slider__content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .slider {
      width: 72%;
    }

    .display-content {
      position: absolute;
      margin-left: 0px;
      bottom: 0px !important;
      padding-bottom: 20px !important;
      padding: 0px 70px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      font-size: 13px;

      .message__title {
        font-size: 16px;
      }
      .message__description {
        font-size: 13px;
      text-align: center !important;
      }
    }
  }

  .product-content {
    padding: 100px 0px 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/images/background-product.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    .product-banner {
      position: relative;
      border-radius: 10px;
      background-color: #142f53;
      width: 70%;
      height: 250px;
      .banner-content {
        width: 70%;
        padding: 20px 20px;
        .banner-content-title {
          color: #e3cb9c;
          margin-top: 10px;
          font-size: 20px;
          font-weight: 20px;
          &::after {
            position: relative;
            content: "";
            height: 2px;
            width: 50px;
            background-color: #e3cb9c;
            display: block;
            bottom: -5px;
          }
        }
        .banner-content-info {
          text-align: justify;
          color: #e3cb9c;
          margin-top: 20px;
        }
      }
      .banner-image {
        position: absolute;
        width: 230px;
        right: 10px;
        bottom: 0px;
      }
    }

    
  .left__content {
    position: relative;
    background-image: url(../public/images/trangchu-21.png);
    min-height: 600px;
    height: auto;
    background-position: center;
    background-size: cover;

    .message__box {
      margin: 0px;
      padding: 0px 100px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      height: 50%;
      background: rgb(62, 62, 62);
      background: linear-gradient(
        0deg,
        rgba(62, 62, 62, 1) 0%,
        rgba(62, 62, 62, 0.8) 25%,
        rgba(214, 214, 214, 0) 100%
      );

      .message__description {
        text-align: center;
      }
    }
  }

  .right__content {
    position: relative;
    background-image: url(../public/images/trangchu-22.png);
    min-height: 600px;
    height: auto;
    background-position: center;
    background-size: cover;

    .message__box {
      margin: 0px;
      padding: 0px 100px;
      width: 100%;
      position: absolute;
      top: 0px;
      height: 50%;
      background: rgb(214, 214, 214);
      background: linear-gradient(
        0deg,
        rgba(214, 214, 214, 0) 0%,
        rgba(62, 62, 62, 0.7) 65%,
        rgba(62, 62, 62, 1) 100%
      );

      .message__description {
        text-align: center;
      }
    }
  }
  }
}

@media only screen and (max-width: 1024px) { 

  .banner-content-title {
    font-size: 13px !important;
  }

  .product-content {
    padding: 50px 20px !important;
  }

  .banner-content {
    width: 210px !important;
  }

  .product-slider__content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .message__description {
      font-size: 9px !important;
      padding: 10px !important;
      text-align: center !important;
      margin-bottom: 0px !important;
    } 

    .message__button-more {
      height: max-content !important;
      font-size: 12px !important;
      width: 100px !important;
      padding: 5px 10px !important;
    }

    .slider {
      width: 90% !important;
    }
  }

  .banner-image {
    position: absolute;
    right: 10px;
    width: 45% !important;
    bottom: 0px;
  }

  .banner-content-info {
    font-size: 10px !important;
  }

  .display-content {
    padding: 0px 0px !important;
  }

  .product-banner {
    width: 100% !important;
    // height: max-content !important;
  }
}