.wrap__product {
  //slick
  .slick-next {
    right: -7px !important;

    &::before {
      font-family: "icon-out" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      cursor: pointer;
      content: "\eaef" !important;
      font-size: 50px !important;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.234);
      background-color: $color-text-grey;
      opacity: 1;
      font-size: 28px !important;
      transition: all 200ms;
    }
  }

  .slick-prev {
    z-index: 100;
    left: -10px !important;

    &::before {
      cursor: pointer;
      font-family: "icon-out" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      content: "\eaf0" !important;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.234);
      background-color: $color-text-grey;
      opacity: 1;
      font-size: 28px !important;
      transition: all 200ms;
    }
  }

  .product-content {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 100px 100px 100px;

    .product-banner {
      border-radius: 10px;
      background-color: #142f53;
      width: 600px;
      height: 250px;
      .banner-content {
        width: 350px;
        padding: 20px 20px;
        .banner-content-title {
          color: #e3cb9c;
          margin-top: 10px;
          font-size: 20px;
          font-weight: 20px;
          &::after {
            position: relative;
            content: "";
            height: 2px;
            width: 50px;
            background-color: #e3cb9c;
            display: block;
            bottom: -5px;
          }
        }
        .banner-content-info {
          color: #e3cb9c;
          margin-top: 20px;
        }
      }
      .banner-image {
        position: relative;
        bottom: 63px;
      }
    }
  }
}
