.wrap__product-detail {
  background-image: url('../public/images/original/Banner 1-19.jpg');
  background-position: center;
  background-size: cover;

  .product-content-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
  .product-box {
      border-radius: 10px;
      border: 2px solid #132f52;
      width: 600px;
      height: 750px;
      backdrop-filter: blur(10px);
      .logo-banner {
        height: 60px;
        max-width: 500px;
        border-radius: 10px;
        background-color: $color-blue;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        bottom: 5rem;
        position: relative;
        top: -5%;
        margin: 0 auto;
        .banner-content {
          margin-left: 1rem;
          font-weight: 600;
          font-size: 18px;
          color: white;
          justify-content: center;
          margin: 0 auto;
        }
      }
      .product-box-content {
        max-width: 600px;
        align-items: center;
        padding: 0 3rem;

        .product__label {
          font-weight: bold;
          font-size: 18px;
          padding-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrap__product-detail{
    .product-box {
      max-width: 90% !important;
    }

    .product-content-detail {
      padding: 60px 0px !important;
      
      .logo-banner {
        max-width: 320px !important;
        display:  flex !important;
        justify-content: space-around !important;
      }

      .banner-content {
        font-size: 13px !important;
        width: max-content !important;
      }
    }
  }
}
