@import "about-us";
@import "variables";
@import "certificate";
@import "productdetail";
@import "product";
@import "contact";
@import "pagination";
@import "admin";

.example-container div {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

.google-react {

}


.toggle-menu__button {
  z-index: 51;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
}

// Slick
.slick-next {
  right: 50px !important;

  &::before {
    font-family: "icon-out" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\eaef" !important;
    font-size: 60px !important;
  }
}
.slick-dots {
  bottom: 20px !important;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;

  &::before {
    font-family: "icon-out" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    content: "\eaf0" !important;
    line-height: 1;
    font-size: 60px !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrap__content {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .home__header {
    position: relative;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    .info-brand {
      font-family: "Segoe UI Semibold";
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #e2cb9c;
      height: 100%;
      font-size: 16px;
      padding-left: 60px;
      width: 40vw;
      background-color: #142f53;
      clip-path: polygon(0 0, 100% 1%, 90% 100%, 0% 100%);

      img {
        width: 60px;
      }

      .info-brand__title {
        font-weight: bolder;
        margin-left: 20px;
      }
    }

    .header__btn-menu {
      display: none;
    }

    .right__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60vw;
      padding-right: 5rem;

      .menu__list {
        font-family: "Segoe UI Semibold";
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 33px;

        .menu__item {
          cursor: pointer;
          color: #808184;
          font-size: 16px;
          transition: all 0.2s;

          &.active {
            color: #142f53;
          }

          &:hover {
            color: #142f53;
          }
        }
      }
    }
  }

  .home__border--gradient {
    height: 5px;
    width: 100%;
    background: rgb(248, 243, 187);
    background: linear-gradient(
      90deg,
      rgba(248, 243, 187, 1) 0%,
      rgba(203, 166, 92, 1) 20%,
      rgba(249, 196, 107, 1) 38%,
      rgba(249, 196, 107, 1) 58%,
      rgba(249, 196, 107, 1) 72%,
      rgba(246, 239, 181, 1) 86%,
      rgba(199, 167, 98, 1) 100%
    );
  }

  .carousel__bar {

    .slick-track {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #70cbea;
    }

    .brand__image {
      position: relative;
      background-image: url(../public/images/trangchu-23.png);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 600px;
    }
  }

  .home__message {
    top: -5px;
    overflow: hidden;
    position: relative;
    background-image: url(../public/images/original/home/wrap-image-2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    // min-height: 600px;

    .image__hand {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
    }
  }

  .message__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.home-box-2 {
      padding: 120px 0px 160px 0px;
    } 

    .message__title {
      text-align: center;
      position: relative;
      font-family: Myriad Pro Bold;
      font-size: 25px;
      color: #fff;
      align-items: center;
      display: flex;
      flex-direction: column;

      &::after {
        position: relative;
        content: "";
        height: 2px;
        width: 90%;
        background-color: #fff;
        display: block;
        bottom: -5px;
      }
    }

    .message__description {
      max-width: 600px;
      font-variant: normal;
      font-weight: normal;
      font-stretch: normal;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
      text-align: justify;
      color: #fff;
      padding: 30px 0px 20px 0px;
    }

    .message__button-more {
      cursor: pointer;
      position: relative;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      border-radius: 20px;
      padding: 5px 0px;
      font-size: 16px;
      width: 150px;
      background: linear-gradient(to right, #142f53 50%, white 50%);
      background-size: 200% 100%;
      background-position:right bottom;            
      display: flex;
      z-index: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 10rem;
      transition: all 300ms;

      &.grey {
        background: linear-gradient(to right, #142f53 50%, #414142 50%);
        background-size: 200% 100%;
        background-position:right bottom;    
        color: #fff;
      }

      i {
        margin-left: 5px;
      }

      &:hover {
        background-position: left bottom;
        color: #fff;
      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   display: block;
      //   border-radius: 10rem;
      //   bottom: 0;
      //   left: 0;
      //   z-index: -1;
      //   width: 0%;
      //   height: 100%;
      //   background-color: #142f53;
      //   transition: all 0.3s;
      //   border-radius: 10rem;
      // }
      // &:hover {
      //   color: #fff;
      //   &::before {
      //     width: 100%;
      //   }
      // }
    }
  }

  .left__content {
    position: relative;
    background-image: url(../public/images/trangchu-21.png);
    min-height: 600px;
    height: auto;
    background-position: center;
    background-size: cover;

    .message__box {
      margin: 0px;
      padding: 0px 100px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      height: 50%;
      background: rgb(62, 62, 62);
      background: linear-gradient(
        0deg,
        rgba(62, 62, 62, 1) 0%,
        rgba(62, 62, 62, 0.8) 25%,
        rgba(214, 214, 214, 0) 100%
      );

      .message__description {
        text-align: center;
      }
    }
  }

  .right__content {
    position: relative;
    background-image: url(../public/images/trangchu-22.png);
    min-height: 600px;
    height: auto;
    background-position: center;
    background-size: cover;

    .message__box {
      margin: 0px;
      padding: 0px 100px;
      width: 100%;
      position: absolute;
      top: 0px;
      height: 50%;
      background: rgb(214, 214, 214);
      background: linear-gradient(
        0deg,
        rgba(214, 214, 214, 0) 0%,
        rgba(62, 62, 62, 0.7) 65%,
        rgba(62, 62, 62, 1) 100%
      );

      .message__description {
        text-align: center;
      }
    }
  }

  .more-info {
    z-index: -2;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 100px;
    align-items: center;
    background-image: url('../public/images/original/home/wrap-image-3.png');
    background-position: center;
    background-size: cover;
    height: auto;
    min-height: 600px;

    .wrap-more-info__image {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      .more-info__image {
        width: 90%;
      }  
    }

    .wrap-more-info__content {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .more-info__right-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 130px;
      justify-content: center;

      .right-content__title {
        position: relative;
        font-family: Myriad Pro Bold;
        font-size: 23px;
        color: black;
        display: flex;
        flex-direction: column;

        &::after {
          position: relative;
          content: "";
          height: 2px;
          width: 50px;
          background-color: black;
          display: block;
          bottom: -5px;
        }
      }

      .content__list {
        list-style: none;
        padding: 0;

        .content__item {
          margin-bottom: 10px;
          &::before {
            content: "●";
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
          }

          .item--bold {
            font-family: Segoe UI Semibold;
            color: #25a8e0;
            font-size: 24px;

            &.grey {
              color: #414142;
            }
          }
        }
      }
    }
  }

  .about-us {
    position: relative;
    overflow: hidden;
    // background-image: url(../public/images/trangchu-20.png);
    background-position: center;
    background-size: cover;
    width: 100%;

    .wrap__about-us {
      height: 100%;
      min-height: 700px;
    }

    .img-top {
      position: absolute;
      top: 0px;
      width: 100%;
      height: auto;
    }
    .img-bottom {
      position: absolute;
      bottom: 0px;
      right: 20px;
      width: 90%;
      height: auto;
    }
    .img-logo {
      width: 150px;
    }

    .message__box {
      justify-content: flex-end;
      width: 400px;
      padding-bottom: 60px;
      .message__title {
        color: #59595bff;
        margin-top: 10px;
        font-size: 28px;

        &::after {
          position: relative;
          content: "";
          height: 3px;
          width: 50px;
          background-color: #25a8e0ff;
          display: block;
          bottom: -5px;
        }
      }

      .message__description {
        color: #59595bff;
        padding: 30px 0px 60px 0px;
        width: 400px;
        text-align: center;
      }
    }
  }

  .home__contact {
    position: relative;
    background-image: url('../public/images/original/home/Banner 1-05.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 10px 0px 50px 0px;
    // min-height: 500px;
    height: auto;

    .contact__content {
      position: relative;
      padding: 20px 10px 20px 0px;

      .mobile__lang {
        position: absolute;
        right: 0px;
        top: 10px;
        display: none;
      }

      .contact-logo {
        width: 50%;
      }

      .menu__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          cursor: pointer;
          font-size: 16px;
          color: #bbbebfff;

          &:hover {
            color: #9cd5e9;
          }
        }
      }

      .company__name {
        font-family: "Segoe UI Semibold";
        font-size: 20px;
        color: #fff;
        font-weight: 700;
      }

      .locale__label {
        font-variant: normal;
        font-weight: 600;
        font-stretch: normal;
        color: #9cd5e9ff;
        font-size: 16px;
        font-family: "Segoe UI Semibold";

        &::after {
          position: relative;
          content: "";
          height: 2px;
          width: 50px;
          background-color: #9cd5e9ff;
          display: block;
          bottom: -1px;
        }
      }

      .locale__address {
        margin-top: 10px;
        margin-bottom: 20px;
        font-variant: normal;
        font-weight: normal;
        font-stretch: normal;
        color: #bbbdbfff;
        font-size: 13px;
        font-family: "Segoe UI Semibold";
      }
    }

    .box__button {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      left: 0px;
      z-index: 100;
      padding: 0px 20px;
      bottom: 20px;
    }
  }

  .slick__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
  }

  .slick-dots {
    .slick-active {
      .slick__dot {
        background-color: #142f53;
      }
    }
  }
}

.button__round {
  cursor: pointer;
  outline: none;
  background-color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 5px solid #c9c9c991;
  transition: all 200ms;

  .icon-out-contact {
    color: #d0a048ff;
  }

  .icon-out-caret {
    color: #6d6e74ff;
    font-size: 13px;
  }
}

.col-8 {
  width: 34%;
}

.text-normal {
  font-size: 13px;
  color: #bbbdbfff;
}

.f-myriad {
  font-family: Myriad Pro Bold;
}
.f-segoe {
  font-family: Segoe UI Semibold;
  font-weight: 500;
}



.image-mobile {
  display: none !important; 
}


@media only screen and (min-width: 1800px) {
  html,
  body {
    font-size: 16px !important;
  }
  // .home__message,
  .left__content,
  .right__content,
  .more-info,
  .about-us,
  .carousel__bar .brand__image {
    height: 800px !important;
  }
  
}

.wrap-image-hand {
  display: block;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .image-mobile {
    display: block !important;
  }

  .fs-14 {
    font-size: 10px !important;
  }
  
  .group__icon--you-face {
   justify-content: center !important;
  }

  .wrap-more-info__image {
    background-image: url('../public/images/original/mobile/background-1.png') !important;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center !important;
    height: 344px !important;
    align-items: center;
   
  }

  .company__name {
    font-size: 16px !important;
    text-align: center !important;
  }


  .more-info {
    background-color: #fff !important;
    background-image: none !important;
    font-size: 11px !important;

    .right-content__title {
      font-size: 13px !important;
    }

    .more-info__right-content {
      padding: 70px !important;
      background-color: #fff;
      margin-left: 0px !important;
    }

    .item--bold {
      font-size: 16px !important;
    } 


  }
  
  .home__message {
    padding: 20px 0px !important;
    .wrap-image-hand {
      .image__hand {
        left: 40%;
        position: relative !important;
        width: 60% !important;
      }
    }
    
    .message__description {
      width: 80% !important;
    }
    
  }

  .contact__content {
    padding: 10px 20px 50px 20px !important;

    .mobile__lang {
      display: block !important;
    }
    .contact-logo {
      width: 30% !important;
    }

    .menu__list {
      display: none !important;
    }
  }

  .image-desktop {
    display: none !important;
  }

  .header__btn-menu {
    display: flex !important;
    gap: 10px !important;
    position: absolute;
    right: 10px;
  }
  .contact__content {
    margin-left: 0px !important;
  }
  .more-info {
    .img-info {
      display: none !important;
    }
  }
  .home__header {
    .info-brand {
      padding-left: 20px !important;
      padding-right: 20px !important;
      width: max-content !important;
      font-size: 10px !important;
      .info-brand__title {
        font-size: 10px !important;
        margin-left: 10px !important  ;
      }

      img {
        width: 40px !important;
      }
    }
    .right__menu {
      display: none !important;
    }
  }

  .message__box {
    margin-left: 0px !important;
    padding: 0px 30px !important;
    width: 100% !important;
  }

  .more-info__right-content {
    padding: 0px 30px;
  }

  .mobile-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .about-us {
    min-height: 650px !important;
    .message__box {
      justify-content: flex-start !important;
      padding-top: 100px !important;
      margin-bottom: 10px !important;
    }

  
    .img-logo {
      width: 180px !important;
    }
    .img-bottom {
      position: relative !important;
      width: 90% !important;
      right: 0 !important;
    }
  }

  .wrap__slider--home {
    .carousel__bar {
      .brand__image {
        background-position: 77% !important;
      }
  
      .slick-next,.slick-prev {
        width: 30px !important;
        height: 30px !important;
  
        &::before {
          font-size: 25px !important;
        }
      }
  
      .slick-next {
        right: 20px !important;
      }
    }
  }
}

.responsive__image {
  width: 100%;
  height: auto;
}

.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}
.fs-11 {
  font-size: 11px;
}
.fs-10 {
  font-size: 10px;
}
.fs-9 {
  font-size: 9px;
}
.fs-8 {
  font-size: 8px;
}
.fs-7 {
  font-size: 7px;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {margin-right: 10px;}
.ml-10 {margin-left: 10px;}
.d-flex {
  display: flex !important;
  position: relative;
  &.j-c {
    justify-content: center;
  }
  &.a-c {
    align-items: center;
  }
  &.gap-5 {
    gap: 5px;
  }
  &.gap-10 {
    gap: 10px;
  }
  &.gap-20 {
    gap: 20px;
  }
  &.a-e {align-items: flex-end;}
}

.icon-locale {
  margin-top: 7px;
  display: inline-block;
  background-image: url(../public/svg/locale.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
}
.icon-contact {
  display: inline-block;
  background-image: url(../public/svg/contact.svg);
  background-size: 17px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
}
.icon-email {
  display: inline-block;
  background-image: url(../public/svg/email.svg);
  background-size: 17px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
}
.icon-other {
  display: inline-block;
  background-image: url(../public/svg/other.svg);
  background-size: 17px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
}
.icon-tax {
  display: inline-block;
  background-image: url(../public/svg/tax.svg);
  background-size: 17px;
  height: 17px;
  width: 17px;
}
.icon-facebook {
  display: inline-block;
  background-image: url(../public/svg/facbook.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
.icon-youtube {
  display: inline-block;
  background-image: url(../public/svg/youtube.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 18px;
  width: 26px;
}
.icon-caret-top {
  display: inline-block;
  background-image: url(../public/svg/caret.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  height: 5px;
  width: 14px;
}

.group__icon--you-face {
  display: flex;
  align-items: center;
}

.language__box {
  gap: 10px;
  display: flex;
  align-items: center;

  .language {
    display: flex;
    cursor: pointer;
    height: max-content;
  }
}

.w-50vw {
  width: 50vw;
}

@keyframes animation-button {
  0% {
    border: 0px solid #c9c9c991;
  }
  100% {
    border: 5px solid #c9c9c991;
  }
  0% {
    border: 0px solid #c9c9c991;
  }
}

@font-face {
  font-family: "icon-out";
  src: url("../public/fonts/icon-out.eot?9bw74u");
  src: url("../public/fonts/icon-out.eot?9bw74u#iefix")
      format("embedded-opentype"),
    url("../public/fonts/icon-out.ttf?9bw74u") format("truetype"),
    url("../public/fonts/icon-out.woff?9bw74u") format("woff"),
    url("../public/fonts/icon-out.svg?9bw74u#icon-out") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-out-"],
[class*=" icon-out-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-out" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-out-angle-right:before {
  content: "\e900";
}
.icon-out-chevron-thin-right:before {
  content: "\e901";
}
.icon-out-home:before {
  content: "\e902";
}
.icon-out-home2:before {
  content: "\e903";
}
.icon-out-home3:before {
  content: "\e904";
}
.icon-out-office:before {
  content: "\e905";
}
.icon-out-newspaper:before {
  content: "\e906";
}
.icon-out-pencil:before {
  content: "\e907";
}
.icon-out-pencil2:before {
  content: "\e908";
}
.icon-out-quill:before {
  content: "\e909";
}
.icon-out-pen:before {
  content: "\e90a";
}
.icon-out-blog:before {
  content: "\e90b";
}
.icon-out-eyedropper:before {
  content: "\e90c";
}
.icon-out-droplet:before {
  content: "\e90d";
}
.icon-out-paint-format:before {
  content: "\e90e";
}
.icon-out-image:before {
  content: "\e90f";
}
.icon-out-images:before {
  content: "\e910";
}
.icon-out-camera:before {
  content: "\e911";
}
.icon-out-headphones:before {
  content: "\e912";
}
.icon-out-music:before {
  content: "\e913";
}
.icon-out-play:before {
  content: "\e914";
}
.icon-out-film:before {
  content: "\e915";
}
.icon-out-video-camera:before {
  content: "\e916";
}
.icon-out-dice:before {
  content: "\e917";
}
.icon-out-pacman:before {
  content: "\e918";
}
.icon-out-spades:before {
  content: "\e919";
}
.icon-out-clubs:before {
  content: "\e91a";
}
.icon-out-diamonds:before {
  content: "\e91b";
}
.icon-out-bullhorn:before {
  content: "\e91c";
}
.icon-out-connection:before {
  content: "\e91d";
}
.icon-out-podcast:before {
  content: "\e91e";
}
.icon-out-feed:before {
  content: "\e91f";
}
.icon-out-mic:before {
  content: "\e920";
}
.icon-out-book:before {
  content: "\e921";
}
.icon-out-books:before {
  content: "\e922";
}
.icon-out-library:before {
  content: "\e923";
}
.icon-out-file-text:before {
  content: "\e924";
}
.icon-out-profile:before {
  content: "\e925";
}
.icon-out-file-empty:before {
  content: "\e926";
}
.icon-out-files-empty:before {
  content: "\e927";
}
.icon-out-file-text2:before {
  content: "\e928";
}
.icon-out-file-picture:before {
  content: "\e929";
}
.icon-out-file-music:before {
  content: "\e92a";
}
.icon-out-file-play:before {
  content: "\e92b";
}
.icon-out-file-video:before {
  content: "\e92c";
}
.icon-out-file-zip:before {
  content: "\e92d";
}
.icon-out-copy:before {
  content: "\e92e";
}
.icon-out-paste:before {
  content: "\e92f";
}
.icon-out-stack:before {
  content: "\e930";
}
.icon-out-folder:before {
  content: "\e931";
}
.icon-out-folder-open:before {
  content: "\e932";
}
.icon-out-folder-plus:before {
  content: "\e933";
}
.icon-out-folder-minus:before {
  content: "\e934";
}
.icon-out-folder-download:before {
  content: "\e935";
}
.icon-out-folder-upload:before {
  content: "\e936";
}
.icon-out-price-tag:before {
  content: "\e937";
}
.icon-out-price-tags:before {
  content: "\e938";
}
.icon-out-barcode:before {
  content: "\e939";
}
.icon-out-qrcode:before {
  content: "\e93a";
}
.icon-out-ticket:before {
  content: "\e93b";
}
.icon-out-cart:before {
  content: "\e93c";
}
.icon-out-coin-dollar:before {
  content: "\e93d";
}
.icon-out-coin-euro:before {
  content: "\e93e";
}
.icon-out-coin-pound:before {
  content: "\e93f";
}
.icon-out-coin-yen:before {
  content: "\e940";
}
.icon-out-credit-card:before {
  content: "\e941";
}
.icon-out-calculator:before {
  content: "\e942";
}
.icon-out-lifebuoy:before {
  content: "\e943";
}
.icon-out-phone:before {
  content: "\e944";
}
.icon-out-phone-hang-up:before {
  content: "\e945";
}
.icon-out-address-book:before {
  content: "\e946";
}
.icon-out-envelop:before {
  content: "\e947";
}
.icon-out-pushpin:before {
  content: "\e948";
}
.icon-out-location:before {
  content: "\e949";
}
.icon-out-location2:before {
  content: "\e94a";
}
.icon-out-compass:before {
  content: "\e94b";
}
.icon-out-compass2:before {
  content: "\e94c";
}
.icon-out-map:before {
  content: "\e94d";
}
.icon-out-map2:before {
  content: "\e94e";
}
.icon-out-history:before {
  content: "\e94f";
}
.icon-out-clock:before {
  content: "\e950";
}
.icon-out-clock2:before {
  content: "\e951";
}
.icon-out-alarm:before {
  content: "\e952";
}
.icon-out-bell:before {
  content: "\e953";
}
.icon-out-stopwatch:before {
  content: "\e954";
}
.icon-out-calendar:before {
  content: "\e955";
}
.icon-out-printer:before {
  content: "\e956";
}
.icon-out-keyboard:before {
  content: "\e957";
}
.icon-out-display:before {
  content: "\e958";
}
.icon-out-laptop:before {
  content: "\e959";
}
.icon-out-mobile:before {
  content: "\e95a";
}
.icon-out-mobile2:before {
  content: "\e95b";
}
.icon-out-tablet:before {
  content: "\e95c";
}
.icon-out-tv:before {
  content: "\e95d";
}
.icon-out-drawer:before {
  content: "\e95e";
}
.icon-out-drawer2:before {
  content: "\e95f";
}
.icon-out-box-add:before {
  content: "\e960";
}
.icon-out-box-remove:before {
  content: "\e961";
}
.icon-out-download:before {
  content: "\e962";
}
.icon-out-upload:before {
  content: "\e963";
}
.icon-out-floppy-disk:before {
  content: "\e964";
}
.icon-out-drive:before {
  content: "\e965";
}
.icon-out-database:before {
  content: "\e966";
}
.icon-out-undo:before {
  content: "\e967";
}
.icon-out-redo:before {
  content: "\e968";
}
.icon-out-undo2:before {
  content: "\e969";
}
.icon-out-redo2:before {
  content: "\e96a";
}
.icon-out-forward:before {
  content: "\e96b";
}
.icon-out-reply:before {
  content: "\e96c";
}
.icon-out-bubble:before {
  content: "\e96d";
}
.icon-out-bubbles:before {
  content: "\e96e";
}
.icon-out-bubbles2:before {
  content: "\e96f";
}
.icon-out-bubble2:before {
  content: "\e970";
}
.icon-out-bubbles3:before {
  content: "\e971";
}
.icon-out-bubbles4:before {
  content: "\e972";
}
.icon-out-user:before {
  content: "\e973";
}
.icon-out-users:before {
  content: "\e974";
}
.icon-out-user-plus:before {
  content: "\e975";
}
.icon-out-user-minus:before {
  content: "\e976";
}
.icon-out-user-check:before {
  content: "\e977";
}
.icon-out-user-tie:before {
  content: "\e978";
}
.icon-out-quotes-left:before {
  content: "\e979";
}
.icon-out-quotes-right:before {
  content: "\e97a";
}
.icon-out-hour-glass:before {
  content: "\e97b";
}
.icon-out-spinner:before {
  content: "\e97c";
}
.icon-out-spinner2:before {
  content: "\e97d";
}
.icon-out-spinner3:before {
  content: "\e97e";
}
.icon-out-spinner4:before {
  content: "\e97f";
}
.icon-out-spinner5:before {
  content: "\e980";
}
.icon-out-spinner6:before {
  content: "\e981";
}
.icon-out-spinner7:before {
  content: "\e982";
}
.icon-out-spinner8:before {
  content: "\e983";
}
.icon-out-spinner9:before {
  content: "\e984";
}
.icon-out-spinner10:before {
  content: "\e985";
}
.icon-out-spinner11:before {
  content: "\e986";
}
.icon-out-binoculars:before {
  content: "\e987";
}
.icon-out-search:before {
  content: "\e988";
}
.icon-out-zoom-in:before {
  content: "\e989";
}
.icon-out-zoom-out:before {
  content: "\e98a";
}
.icon-out-enlarge:before {
  content: "\e98b";
}
.icon-out-shrink:before {
  content: "\e98c";
}
.icon-out-enlarge2:before {
  content: "\e98d";
}
.icon-out-shrink2:before {
  content: "\e98e";
}
.icon-out-key:before {
  content: "\e98f";
}
.icon-out-key2:before {
  content: "\e990";
}
.icon-out-lock:before {
  content: "\e991";
}
.icon-out-unlocked:before {
  content: "\e992";
}
.icon-out-wrench:before {
  content: "\e993";
}
.icon-out-equalizer:before {
  content: "\e994";
}
.icon-out-equalizer2:before {
  content: "\e995";
}
.icon-out-cog:before {
  content: "\e996";
}
.icon-out-cogs:before {
  content: "\e997";
}
.icon-out-hammer:before {
  content: "\e998";
}
.icon-out-magic-wand:before {
  content: "\e999";
}
.icon-out-aid-kit:before {
  content: "\e99a";
}
.icon-out-bug:before {
  content: "\e99b";
}
.icon-out-pie-chart:before {
  content: "\e99c";
}
.icon-out-stats-dots:before {
  content: "\e99d";
}
.icon-out-stats-bars:before {
  content: "\e99e";
}
.icon-out-stats-bars2:before {
  content: "\e99f";
}
.icon-out-trophy:before {
  content: "\e9a0";
}
.icon-out-gift:before {
  content: "\e9a1";
}
.icon-out-glass:before {
  content: "\e9a2";
}
.icon-out-glass2:before {
  content: "\e9a3";
}
.icon-out-mug:before {
  content: "\e9a4";
}
.icon-out-spoon-knife:before {
  content: "\e9a5";
}
.icon-out-leaf:before {
  content: "\e9a6";
}
.icon-out-rocket:before {
  content: "\e9a7";
}
.icon-out-meter:before {
  content: "\e9a8";
}
.icon-out-meter2:before {
  content: "\e9a9";
}
.icon-out-hammer2:before {
  content: "\e9aa";
}
.icon-out-fire:before {
  content: "\e9ab";
}
.icon-out-lab:before {
  content: "\e9ac";
}
.icon-out-magnet:before {
  content: "\e9ad";
}
.icon-out-bin:before {
  content: "\e9ae";
}
.icon-out-bin2:before {
  content: "\e9af";
}
.icon-out-briefcase:before {
  content: "\e9b0";
}
.icon-out-airplane:before {
  content: "\e9b1";
}
.icon-out-truck:before {
  content: "\e9b2";
}
.icon-out-road:before {
  content: "\e9b3";
}
.icon-out-accessibility:before {
  content: "\e9b4";
}
.icon-out-target:before {
  content: "\e9b5";
}
.icon-out-shield:before {
  content: "\e9b6";
}
.icon-out-power:before {
  content: "\e9b7";
}
.icon-out-switch:before {
  content: "\e9b8";
}
.icon-out-power-cord:before {
  content: "\e9b9";
}
.icon-out-clipboard:before {
  content: "\e9ba";
}
.icon-out-list-numbered:before {
  content: "\e9bb";
}
.icon-out-list:before {
  content: "\e9bc";
}
.icon-out-list2:before {
  content: "\e9bd";
}
.icon-out-tree:before {
  content: "\e9be";
}
.icon-out-menu:before {
  content: "\e9bf";
}
.icon-out-menu2:before {
  content: "\e9c0";
}
.icon-out-menu3:before {
  content: "\e9c1";
}
.icon-out-menu4:before {
  content: "\e9c2";
}
.icon-out-cloud:before {
  content: "\e9c3";
}
.icon-out-cloud-download:before {
  content: "\e9c4";
}
.icon-out-cloud-upload:before {
  content: "\e9c5";
}
.icon-out-cloud-check:before {
  content: "\e9c6";
}
.icon-out-download2:before {
  content: "\e9c7";
}
.icon-out-upload2:before {
  content: "\e9c8";
}
.icon-out-download3:before {
  content: "\e9c9";
}
.icon-out-upload3:before {
  content: "\e9ca";
}
.icon-out-sphere:before {
  content: "\e9cb";
}
.icon-out-earth:before {
  content: "\e9cc";
}
.icon-out-link:before {
  content: "\e9cd";
}
.icon-out-flag:before {
  content: "\e9ce";
}
.icon-out-attachment:before {
  content: "\e9cf";
}
.icon-out-eye:before {
  content: "\e9d0";
}
.icon-out-eye-plus:before {
  content: "\e9d1";
}
.icon-out-eye-minus:before {
  content: "\e9d2";
}
.icon-out-eye-blocked:before {
  content: "\e9d3";
}
.icon-out-bookmark:before {
  content: "\e9d4";
}
.icon-out-bookmarks:before {
  content: "\e9d5";
}
.icon-out-sun:before {
  content: "\e9d6";
}
.icon-out-contrast:before {
  content: "\e9d7";
}
.icon-out-brightness-contrast:before {
  content: "\e9d8";
}
.icon-out-star-empty:before {
  content: "\e9d9";
}
.icon-out-star-half:before {
  content: "\e9da";
}
.icon-out-star-full:before {
  content: "\e9db";
}
.icon-out-heart:before {
  content: "\e9dc";
}
.icon-out-heart-broken:before {
  content: "\e9dd";
}
.icon-out-man:before {
  content: "\e9de";
}
.icon-out-woman:before {
  content: "\e9df";
}
.icon-out-man-woman:before {
  content: "\e9e0";
}
.icon-out-happy:before {
  content: "\e9e1";
}
.icon-out-happy2:before {
  content: "\e9e2";
}
.icon-out-smile:before {
  content: "\e9e3";
}
.icon-out-smile2:before {
  content: "\e9e4";
}
.icon-out-tongue:before {
  content: "\e9e5";
}
.icon-out-tongue2:before {
  content: "\e9e6";
}
.icon-out-sad:before {
  content: "\e9e7";
}
.icon-out-sad2:before {
  content: "\e9e8";
}
.icon-out-wink:before {
  content: "\e9e9";
}
.icon-out-wink2:before {
  content: "\e9ea";
}
.icon-out-grin:before {
  content: "\e9eb";
}
.icon-out-grin2:before {
  content: "\e9ec";
}
.icon-out-cool:before {
  content: "\e9ed";
}
.icon-out-cool2:before {
  content: "\e9ee";
}
.icon-out-angry:before {
  content: "\e9ef";
}
.icon-out-angry2:before {
  content: "\e9f0";
}
.icon-out-evil:before {
  content: "\e9f1";
}
.icon-out-evil2:before {
  content: "\e9f2";
}
.icon-out-shocked:before {
  content: "\e9f3";
}
.icon-out-shocked2:before {
  content: "\e9f4";
}
.icon-out-baffled:before {
  content: "\e9f5";
}
.icon-out-baffled2:before {
  content: "\e9f6";
}
.icon-out-confused:before {
  content: "\e9f7";
}
.icon-out-confused2:before {
  content: "\e9f8";
}
.icon-out-neutral:before {
  content: "\e9f9";
}
.icon-out-neutral2:before {
  content: "\e9fa";
}
.icon-out-hipster:before {
  content: "\e9fb";
}
.icon-out-hipster2:before {
  content: "\e9fc";
}
.icon-out-wondering:before {
  content: "\e9fd";
}
.icon-out-wondering2:before {
  content: "\e9fe";
}
.icon-out-sleepy:before {
  content: "\e9ff";
}
.icon-out-sleepy2:before {
  content: "\ea00";
}
.icon-out-frustrated:before {
  content: "\ea01";
}
.icon-out-frustrated2:before {
  content: "\ea02";
}
.icon-out-crying:before {
  content: "\ea03";
}
.icon-out-crying2:before {
  content: "\ea04";
}
.icon-out-point-up:before {
  content: "\ea05";
}
.icon-out-point-right:before {
  content: "\ea06";
}
.icon-out-point-down:before {
  content: "\ea07";
}
.icon-out-point-left:before {
  content: "\ea08";
}
.icon-out-warning:before {
  content: "\ea09";
}
.icon-out-notification:before {
  content: "\ea0a";
}
.icon-out-question:before {
  content: "\ea0b";
}
.icon-out-plus:before {
  content: "\ea0c";
}
.icon-out-minus:before {
  content: "\ea0d";
}
.icon-out-info:before {
  content: "\ea0e";
}
.icon-out-cancel-circle:before {
  content: "\ea0f";
}
.icon-out-blocked:before {
  content: "\ea10";
}
.icon-out-cross:before {
  content: "\ea11";
}
.icon-out-checkmark:before {
  content: "\ea12";
}
.icon-out-checkmark2:before {
  content: "\ea13";
}
.icon-out-spell-check:before {
  content: "\ea14";
}
.icon-out-enter:before {
  content: "\ea15";
}
.icon-out-exit:before {
  content: "\ea16";
}
.icon-out-play2:before {
  content: "\ea17";
}
.icon-out-pause:before {
  content: "\ea18";
}
.icon-out-stop:before {
  content: "\ea19";
}
.icon-out-previous:before {
  content: "\ea1a";
}
.icon-out-next:before {
  content: "\ea1b";
}
.icon-out-backward:before {
  content: "\ea1c";
}
.icon-out-forward2:before {
  content: "\ea1d";
}
.icon-out-play3:before {
  content: "\ea1e";
}
.icon-out-pause2:before {
  content: "\ea1f";
}
.icon-out-stop2:before {
  content: "\ea20";
}
.icon-out-backward2:before {
  content: "\ea21";
}
.icon-out-forward3:before {
  content: "\ea22";
}
.icon-out-first:before {
  content: "\ea23";
}
.icon-out-last:before {
  content: "\ea24";
}
.icon-out-previous2:before {
  content: "\ea25";
}
.icon-out-next2:before {
  content: "\ea26";
}
.icon-out-eject:before {
  content: "\ea27";
}
.icon-out-volume-high:before {
  content: "\ea28";
}
.icon-out-volume-medium:before {
  content: "\ea29";
}
.icon-out-volume-low:before {
  content: "\ea2a";
}
.icon-out-volume-mute:before {
  content: "\ea2b";
}
.icon-out-volume-mute2:before {
  content: "\ea2c";
}
.icon-out-volume-increase:before {
  content: "\ea2d";
}
.icon-out-volume-decrease:before {
  content: "\ea2e";
}
.icon-out-loop:before {
  content: "\ea2f";
}
.icon-out-loop2:before {
  content: "\ea30";
}
.icon-out-infinite:before {
  content: "\ea31";
}
.icon-out-shuffle:before {
  content: "\ea32";
}
.icon-out-arrow-up-left:before {
  content: "\ea33";
}
.icon-out-arrow-up:before {
  content: "\ea34";
}
.icon-out-arrow-up-right:before {
  content: "\ea35";
}
.icon-out-arrow-right:before {
  content: "\ea36";
}
.icon-out-arrow-down-right:before {
  content: "\ea37";
}
.icon-out-arrow-down:before {
  content: "\ea38";
}
.icon-out-arrow-down-left:before {
  content: "\ea39";
}
.icon-out-arrow-left:before {
  content: "\ea3a";
}
.icon-out-arrow-up-left2:before {
  content: "\ea3b";
}
.icon-out-arrow-up2:before {
  content: "\ea3c";
}
.icon-out-arrow-up-right2:before {
  content: "\ea3d";
}
.icon-out-arrow-right2:before {
  content: "\ea3e";
}
.icon-out-arrow-down-right2:before {
  content: "\ea3f";
}
.icon-out-arrow-down2:before {
  content: "\ea40";
}
.icon-out-arrow-down-left2:before {
  content: "\ea41";
}
.icon-out-arrow-left2:before {
  content: "\ea42";
}
.icon-out-circle-up:before {
  content: "\ea43";
}
.icon-out-circle-right:before {
  content: "\ea44";
}
.icon-out-circle-down:before {
  content: "\ea45";
}
.icon-out-circle-left:before {
  content: "\ea46";
}
.icon-out-tab:before {
  content: "\ea47";
}
.icon-out-move-up:before {
  content: "\ea48";
}
.icon-out-move-down:before {
  content: "\ea49";
}
.icon-out-sort-alpha-asc:before {
  content: "\ea4a";
}
.icon-out-sort-alpha-desc:before {
  content: "\ea4b";
}
.icon-out-sort-numeric-asc:before {
  content: "\ea4c";
}
.icon-out-sort-numberic-desc:before {
  content: "\ea4d";
}
.icon-out-sort-amount-asc:before {
  content: "\ea4e";
}
.icon-out-sort-amount-desc:before {
  content: "\ea4f";
}
.icon-out-command:before {
  content: "\ea50";
}
.icon-out-shift:before {
  content: "\ea51";
}
.icon-out-ctrl:before {
  content: "\ea52";
}
.icon-out-opt:before {
  content: "\ea53";
}
.icon-out-checkbox-checked:before {
  content: "\ea54";
}
.icon-out-checkbox-unchecked:before {
  content: "\ea55";
}
.icon-out-radio-checked:before {
  content: "\ea56";
}
.icon-out-radio-checked2:before {
  content: "\ea57";
}
.icon-out-radio-unchecked:before {
  content: "\ea58";
}
.icon-out-crop:before {
  content: "\ea59";
}
.icon-out-make-group:before {
  content: "\ea5a";
}
.icon-out-ungroup:before {
  content: "\ea5b";
}
.icon-out-scissors:before {
  content: "\ea5c";
}
.icon-out-filter:before {
  content: "\ea5d";
}
.icon-out-font:before {
  content: "\ea5e";
}
.icon-out-ligature:before {
  content: "\ea5f";
}
.icon-out-ligature2:before {
  content: "\ea60";
}
.icon-out-text-height:before {
  content: "\ea61";
}
.icon-out-text-width:before {
  content: "\ea62";
}
.icon-out-font-size:before {
  content: "\ea63";
}
.icon-out-bold:before {
  content: "\ea64";
}
.icon-out-underline:before {
  content: "\ea65";
}
.icon-out-italic:before {
  content: "\ea66";
}
.icon-out-strikethrough:before {
  content: "\ea67";
}
.icon-out-omega:before {
  content: "\ea68";
}
.icon-out-sigma:before {
  content: "\ea69";
}
.icon-out-page-break:before {
  content: "\ea6a";
}
.icon-out-superscript:before {
  content: "\ea6b";
}
.icon-out-subscript:before {
  content: "\ea6c";
}
.icon-out-superscript2:before {
  content: "\ea6d";
}
.icon-out-subscript2:before {
  content: "\ea6e";
}
.icon-out-text-color:before {
  content: "\ea6f";
}
.icon-out-pagebreak:before {
  content: "\ea70";
}
.icon-out-clear-formatting:before {
  content: "\ea71";
}
.icon-out-table:before {
  content: "\ea72";
}
.icon-out-table2:before {
  content: "\ea73";
}
.icon-out-insert-template:before {
  content: "\ea74";
}
.icon-out-pilcrow:before {
  content: "\ea75";
}
.icon-out-ltr:before {
  content: "\ea76";
}
.icon-out-rtl:before {
  content: "\ea77";
}
.icon-out-section:before {
  content: "\ea78";
}
.icon-out-paragraph-left:before {
  content: "\ea79";
}
.icon-out-paragraph-center:before {
  content: "\ea7a";
}
.icon-out-paragraph-right:before {
  content: "\ea7b";
}
.icon-out-paragraph-justify:before {
  content: "\ea7c";
}
.icon-out-indent-increase:before {
  content: "\ea7d";
}
.icon-out-indent-decrease:before {
  content: "\ea7e";
}
.icon-out-share:before {
  content: "\ea7f";
}
.icon-out-new-tab:before {
  content: "\ea80";
}
.icon-out-embed:before {
  content: "\ea81";
}
.icon-out-embed2:before {
  content: "\ea82";
}
.icon-out-terminal:before {
  content: "\ea83";
}
.icon-out-share2:before {
  content: "\ea84";
}
.icon-out-mail:before {
  content: "\ea85";
}
.icon-out-mail2:before {
  content: "\ea86";
}
.icon-out-mail3:before {
  content: "\ea87";
}
.icon-out-mail4:before {
  content: "\ea88";
}
.icon-out-amazon:before {
  content: "\ea89";
}
.icon-out-google:before {
  content: "\ea8a";
}
.icon-out-google2:before {
  content: "\ea8b";
}
.icon-out-google3:before {
  content: "\ea8c";
}
.icon-out-google-plus:before {
  content: "\ea8d";
}
.icon-out-google-plus2:before {
  content: "\ea8e";
}
.icon-out-google-plus3:before {
  content: "\ea8f";
}
.icon-out-hangouts:before {
  content: "\ea90";
}
.icon-out-google-drive:before {
  content: "\ea91";
}
.icon-out-facebook:before {
  content: "\ea92";
}
.icon-out-facebook2:before {
  content: "\ea93";
}
.icon-out-instagram:before {
  content: "\ea94";
}
.icon-out-whatsapp:before {
  content: "\ea95";
}
.icon-out-spotify:before {
  content: "\ea96";
}
.icon-out-telegram:before {
  content: "\ea97";
}
.icon-out-twitter:before {
  content: "\ea98";
}
.icon-out-vine:before {
  content: "\ea99";
}
.icon-out-vk:before {
  content: "\ea9a";
}
.icon-out-renren:before {
  content: "\ea9b";
}
.icon-out-sina-weibo:before {
  content: "\ea9c";
}
.icon-out-rss:before {
  content: "\ea9d";
}
.icon-out-rss2:before {
  content: "\ea9e";
}
.icon-out-youtube:before {
  content: "\ea9f";
}
.icon-out-youtube2:before {
  content: "\eaa0";
}
.icon-out-twitch:before {
  content: "\eaa1";
}
.icon-out-vimeo:before {
  content: "\eaa2";
}
.icon-out-vimeo2:before {
  content: "\eaa3";
}
.icon-out-lanyrd:before {
  content: "\eaa4";
}
.icon-out-flickr:before {
  content: "\eaa5";
}
.icon-out-flickr2:before {
  content: "\eaa6";
}
.icon-out-flickr3:before {
  content: "\eaa7";
}
.icon-out-flickr4:before {
  content: "\eaa8";
}
.icon-out-dribbble:before {
  content: "\eaa9";
}
.icon-out-behance:before {
  content: "\eaaa";
}
.icon-out-behance2:before {
  content: "\eaab";
}
.icon-out-deviantart:before {
  content: "\eaac";
}
.icon-out-500px:before {
  content: "\eaad";
}
.icon-out-steam:before {
  content: "\eaae";
}
.icon-out-steam2:before {
  content: "\eaaf";
}
.icon-out-dropbox:before {
  content: "\eab0";
}
.icon-out-onedrive:before {
  content: "\eab1";
}
.icon-out-github:before {
  content: "\eab2";
}
.icon-out-npm:before {
  content: "\eab3";
}
.icon-out-basecamp:before {
  content: "\eab4";
}
.icon-out-trello:before {
  content: "\eab5";
}
.icon-out-wordpress:before {
  content: "\eab6";
}
.icon-out-joomla:before {
  content: "\eab7";
}
.icon-out-ello:before {
  content: "\eab8";
}
.icon-out-blogger:before {
  content: "\eab9";
}
.icon-out-blogger2:before {
  content: "\eaba";
}
.icon-out-tumblr:before {
  content: "\eabb";
}
.icon-out-tumblr2:before {
  content: "\eabc";
}
.icon-out-yahoo:before {
  content: "\eabd";
}
.icon-out-yahoo2:before {
  content: "\eabe";
}
.icon-out-tux:before {
  content: "\eabf";
}
.icon-out-appleinc:before {
  content: "\eac0";
}
.icon-out-finder:before {
  content: "\eac1";
}
.icon-out-android:before {
  content: "\eac2";
}
.icon-out-windows:before {
  content: "\eac3";
}
.icon-out-windows8:before {
  content: "\eac4";
}
.icon-out-soundcloud:before {
  content: "\eac5";
}
.icon-out-soundcloud2:before {
  content: "\eac6";
}
.icon-out-skype:before {
  content: "\eac7";
}
.icon-out-reddit:before {
  content: "\eac8";
}
.icon-out-hackernews:before {
  content: "\eac9";
}
.icon-out-wikipedia:before {
  content: "\eaca";
}
.icon-out-linkedin:before {
  content: "\eacb";
}
.icon-out-linkedin2:before {
  content: "\eacc";
}
.icon-out-lastfm:before {
  content: "\eacd";
}
.icon-out-lastfm2:before {
  content: "\eace";
}
.icon-out-delicious:before {
  content: "\eacf";
}
.icon-out-stumbleupon:before {
  content: "\ead0";
}
.icon-out-stumbleupon2:before {
  content: "\ead1";
}
.icon-out-stackoverflow:before {
  content: "\ead2";
}
.icon-out-pinterest:before {
  content: "\ead3";
}
.icon-out-pinterest2:before {
  content: "\ead4";
}
.icon-out-xing:before {
  content: "\ead5";
}
.icon-out-xing2:before {
  content: "\ead6";
}
.icon-out-flattr:before {
  content: "\ead7";
}
.icon-out-foursquare:before {
  content: "\ead8";
}
.icon-out-yelp:before {
  content: "\ead9";
}
.icon-out-paypal:before {
  content: "\eada";
}
.icon-out-chrome:before {
  content: "\eadb";
}
.icon-out-firefox:before {
  content: "\eadc";
}
.icon-out-IE:before {
  content: "\eadd";
}
.icon-out-edge:before {
  content: "\eade";
}
.icon-out-safari:before {
  content: "\eadf";
}
.icon-out-opera:before {
  content: "\eae0";
}
.icon-out-file-pdf:before {
  content: "\eae1";
}
.icon-out-file-openoffice:before {
  content: "\eae2";
}
.icon-out-file-word:before {
  content: "\eae3";
}
.icon-out-file-excel:before {
  content: "\eae4";
}
.icon-out-libreoffice:before {
  content: "\eae5";
}
.icon-out-html-five:before {
  content: "\eae6";
}
.icon-out-html-five2:before {
  content: "\eae7";
}
.icon-out-css3:before {
  content: "\eae8";
}
.icon-out-git:before {
  content: "\eae9";
}
.icon-out-codepen:before {
  content: "\eaea";
}
.icon-out-svg:before {
  content: "\eaeb";
}
.icon-out-IcoMoon:before {
  content: "\eaec";
}
.icon-out-caret:before {
  content: "\eaed";
}
.icon-out-contact:before {
  content: "\eaee";
}
.icon-out-chevron-right:before {
  content: "\eaef";
}
.icon-out-chevron-left:before {
  content: "\eaf0";
}
